* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(21, 122, 18);
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.hero img {
    width: 300px;
}

.hero span {
    color: rgb(21, 122, 18);
}

.section {
    padding: 60px 40px;
    text-align: center;
}

.gray {
    background: #3a3838;
}

.apropos-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.profil {
    width: 300px;

}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white ;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

.btn, button {
    background: rgb(21, 122, 18);
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}